/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--font-main-small: "Open Sans", sans-serif;
	--font-main-title: "Oswald", sans-serif;
	--font-body-copy: "Josefin Slab", serif;
	/* Colour Variables */
	--colour-brand-primary: #006e90;
	--colour-brand-link-pale: #adcad6;
	--colour-brand-link-dark: #41bbd9;
	--colour-brand-accent-a: #f18f01;
	--colour-brand-accent-b: #99c24d;
	
	--colour-grey-dark: #1C2F37;
	--colour-grey-mid: #4A7D93;
	--colour-grey-pale: #D6E4EA;
	--colour-grey-white: #F9FBFC;
}

:root[data-theme='dark'] {
	--colour-brand-link-pale: #41bbd9;
	--colour-brand-link-dark: #adcad6;
	--colour-grey-dark: #F9FBFC;
	--colour-grey-white: #1C2F37;
	
	
}
:root[data-theme='dark'] h1, :root[data-theme='dark'] h2, :root[data-theme='dark'] h3 {
	color: var(--colour-brand-accent-b);
}
:root[data-theme='dark'] #brand-logo img:nth-child(2) {
	content: url(full-name-dark.svg);
}
:root[data-theme='dark'] #brand-logo img:nth-child(1) {
	content: url(brand-logo-dark.svg);
}

* {
	font-family: var(--font-main-small);
	color: var(--colour-grey-dark);
}

html, body {
	background: var(--colour-grey-white);
	padding: 0;
	margin: 0;
}


/***
Headings
***/
h1, h2, h3 {
	color: var(--colour-brand-primary);
	font-family: var(--font-main-title);
	font-weight: bold;
}

/***
Body Copy
***/
p.body-copy {
	color: var(--colour-grey-dark);
	font-family: var(--font-body-copy);
}

a {
	font-family: inherit;
	color: var(--colour-brand-link-dark);
}

a:hover {
	color: var(--colour-brand-link-pale);
}

/***
Container Style
***/
.container {
	max-width: 980px;
	margin: 0 auto;
}

/***
List Style
***/

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--colour-brand-accent-a); /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ol li::marker {
	color: var(--colour-brand-accent-a);
	font-weight: bolder;
}

/***
Header Styles
***/
header {
	padding: 1em;
}

#brand-logo {
	max-height: 3em;
	width: 12em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#brand-logo img:nth-child(1) {
	flex: 1;
	content: url(brand-logo.svg);
}
#brand-logo img:nth-child(2) {
	margin-left: 1em;
	flex: 4;
	content: url(full-name.svg);
}